<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>主页面</title>
  <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
<div class="con">
  <div style="position: fixed; top: 0px;right: 0px; font-size: 30px;"> </div>
  <h1>欢迎来到宠物医院管理系统</h1>
  <nav>
    <ul>
      <a href="/add"><button>添加宠物信息</button></a>
      <a href="/select"><button>查询宠物信息</button></a>
      <a href="/update"><button>修改宠物信息</button></a>
      <a href="/delete"><button>删除宠物信息</button></a>
    </ul>
  </nav>
  <header>
    <div class="logo">
      <a href=""><img src="../static/img/宠物.jpg" width="1010"></a>
    </div>
  </header>
</div>
</body>

</html>